doctype 5
html
  head
    title Hungarian Ingress Players
    meta(name="application-version", content="0.2.3")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/message.css')
    link(href='http://fonts.googleapis.com/css?family=Electrolize', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Fascinate+Inline&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    script(type="text/javascript", src="https://apis.google.com/js/plusone.js")
  body
    header
      nav
        div.pull-left
          a(href="https://plus.google.com/106189462161250574504", rel="publisher", target='_blank') Google+ oldal
          span |
          a(href="https://plus.google.com/communities/109012576581831848926", rel="community", target='_blank') Google+ közösség
          span |
          div.g-plusone(data-size="tall", data-annotation="inline", data-width="200", data-href="https://plus.google.com/106189462161250574504")
        div.pull-right
          if everyauth.loggedIn
            span #{everyauth.google.user.name} |
            a(href="http://www.ingress.com/intel", target='_blank') Intel Térkép
            span |
            a(href="/suicide") Exit
          else
            a(href="/auth/google") Log In
    section.content
      block content

    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37537431-1']);
      _gaq.push(['_setDomainName', 'hip.hu']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
