doctype 5
html
  head
    title Hungarian Ingress Players
    meta(name="application-version", content="0.1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/message.css')
    link(href='http://fonts.googleapis.com/css?family=Electrolize', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Fascinate+Inline&subset=latin,latin-ext', rel='stylesheet', type='text/css')
  body
    header
      nav
        if everyauth.loggedIn
          span #{everyauth.google.user.name}
          a(href="/suicide") Exit
        else
          a(href="/auth/google") Log In
    section.content
      block content