doctype 5
html
  head
    title Hungarian Ingress Players
    meta(name="application-version", content="0.1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/message.css')
    link(href='http://fonts.googleapis.com/css?family=Electrolize', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Fascinate+Inline&subset=latin,latin-ext', rel='stylesheet', type='text/css')
  body
    header
      nav
        if everyauth.loggedIn
          span #{everyauth.google.user.name} |
          a(href="http://www.ingress.com/intel", target='_blank') Intel Térkép
          span |
          a(href="/suicide") Exit
        else
          a(href="/auth/google") Log In
    section.content
      block content

    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37537431-1']);
      _gaq.push(['_setDomainName', 'hip.hu']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();