extends ../layout

block content
  div.res3
    h1 Join us!
    img(src='/images/what_is_seti.jpeg')
    div.factions
      a(href="http://resistance.hip.hu", target='_blank')
        div.resistance.logo.iblock.margin-small
      a(href="http://enlightened.hip.hu", target='_blank')
        div.enlightened.logo.iblock.margin-small
