secret_message
  content: "/jefDybNiOk8"
  required_privileges: authorized user
  code_status: decrypted
  source: radio signal
  datatype: bitstream
  target: unknown, "presumably: Resistance Agents"

satellite_image
  content: "/Lyctofcaff"
  required_privileges: authorized user
  code_status: encrypted
  source: satellite connection, _(stolen)
  datatype: image
  target: unknown

/*!
 *
 * 2013-01-05 7:41pm
 * =================
 * Rájöttünk, hogy ez a kép a másodlagos
 * beléptető rendszer része.
 * Véleményünk szerint még ez sem az, hiszen
 * ennek így nincs értelme. Hacsak nem
 * szándékosan került hozzánk a műhold
 * és ez volt a tervük. Kiderül.
 *
 * 2013-01-05 5:27pm
 * =================
 * Megszereztük egy hibás NIA műkold
 * irányítását. Sajnos hibás. Egyelőre
 * ezt az egy képet adja és semmi mást.
 * Próbálunk kicsit mahinálni vele.
 *
 * 2013-01-09 4:59pm
 * =================
 * Az üzenet meg lett erősítve.
 * Meghívókódot tartalmaz.
 *
 * 2013-01-09 3:00pm
 * =================
 * Sikerült helyreállítani az adatfolyamot.
 * Az üzenetet publikáltuk, hogy minél előbb
 * meg tudjuk fejleteni.
 *
 */