secret_message
  content: "/jefDybNiOk8"
  required_privileges: authorized user
  code_status: decrypted
  source: radio signal
  datatype: bitstream
  target: unknown, "presumably: Resistance Agents"

satellite_image
  content: "/Lyctofcaff"
  required_privileges: authorized user
  code_status: decrypted
  source: satellite connection, _(stolen)
  datatype: image
  target: unknown

satellite_image
  content: "/berAcsOots"
  required_privileges: authorized user
  code_status: decrypted
  source: satellite signal
  datatype: image
  target: NIA "L3-3T", Special Force

/*!
 *
 * 2013-01-20 11:56pm
 * =================
 * A korábban megszerzett NIA műholdat megfigyelés
 * alatt tartottuk es `joember` ügyeleti idejében újabb
 * jelet sugárzott, ezúttal azonban másik csatornán.
 * A jel a NIA L3-3T különleges alakulatának volt címezve.
 * A forrásból az alábbi képet sikerült rekonstruálnunk.
 *
 * 2013-01-16 2:38pm
 * =================
 * A képet beraktuk háttérnek,
 * így bár nehezebb kiszedni, de ki lehet.
 * A kép azért érdekes, mert egy csomó vonal
 * van rajta, de az első pár pixel az elüt a
 * többitől. Ha az RGB színeket sorba rakjuk,
 * Akkor hátha kijön valami belőle.
 *
 * 2013-01-15 7:41pm
 * =================
 * Rájöttünk, hogy ez a kép a másodlagos
 * beléptető rendszer része.
 * Véleményünk szerint még ez sem az, hiszen
 * ennek így nincs értelme. Hacsak nem
 * szándékosan került hozzánk a műhold
 * és ez volt a tervük. Kiderül.
 *
 * 2013-01-15 5:27pm
 * =================
 * Megszereztük egy hibás NIA műkold
 * irányítását. Sajnos hibás. Egyelőre
 * ezt az egy képet adja és semmi mást.
 * Próbálunk kicsit mahinálni vele.
 *
 * 2013-01-09 4:59pm
 * =================
 * Az üzenet meg lett erősítve.
 * Meghívókódot tartalmaz.
 *
 * 2013-01-09 3:00pm
 * =================
 * Sikerült helyreállítani az adatfolyamot.
 * Az üzenetet publikáltuk, hogy minél előbb
 * meg tudjuk fejleteni.
 *
 */