/*!
 *
 * 2013-01-09 4:59pm
 * =================
 * Az üzenet meg lett erősítve.
 * Meghívókódot tartalmaz.
 *
 * 2013-01-09 3:00pm
 * =================
 * Sikerült helyreállítani az adatfolyamot.
 * Az üzenetet publikáltuk, hogy minél előbb
 * meg tudjuk fejleteni.
 *
 */

secret_message
  content: "/jefDybNiOk8"
  required_privileges: authorized user
  code_status: encrypted
  source: radio signal
  datatype: bitstream
  target: unknown, "presumably: Resistance Agents"