li.googleplus
  padding-top: 0.65em

.avatar
  width 20px
  padding-right: 1em

.iblock
  display: inline-block

.margin-small
  margin: 5px

.factions
  .logo
    width: 125px
    height: 35px
  .resistance
    background-image: url(/images/resistance1.png)
  .enlightened
    background-image: url(/images/enlightened1.png)

#___plusone_0
  vertical-align: top !important

$goodColor=#005700
$badColor=#6D0000

ul.logs
  margin: 0
  padding: 0
  li.log-entry
    list-style: none
    padding: 3px
    &.create-field span, &.create-field strong
      color: $goodColor
    &.create-link span, &.create-link strong
      color: $goodColor
    &.create-resonator span, &.create-resonator strong
      color: $goodColor
    &.destroy-field span, &.destroy-field strong
      color: $badColor
    &.destroy-link span, &.destroy-link strong
      color: $badColor
    &.destroy-resonator span, &.destroy-resonator strong
      color: $badColor
  &.Resistance
    li:hover
      background-color: hsla(227, 100%, 79%, 0.5)
  &.Enlightened
    li:hover
      background-color: hsla(127, 100%, 79%, 0.5)

.statistics
  .line
    padding: 5px 15px
    margin: 15px 0
    border-left: 8px solid black
    &.l1
      border-color: #fece5a
    &.l2
      border-color: #ffa630
    &.l3
      border-color: #ff7315
    &.l4
      border-color: #e40000
    &.l5
      border-color: #fd2992
    &.l6
      border-color: #eb26cd
    &.l7
      border-color: #c124e0
    &.l8
      border-color: #9627f4
    .factions
      div
        padding: 5px 0 2px 30px
.padding10
  padding: 10px

.chat
  >div
    height: 500px
    position: relative
    h2
      span
        font-size: 0.5em
        float: right
        font-weight: normal
    >div
      overflow: scroll
      height: 360px
      border-bottom: 1px dotted #aaa
      .msg
        span
          font-weight: bold
  div.iamnull
    display: none
  input
    position: absolute
    bottom: 0